body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%)
}

.attribution {
    font-size: 20px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 15% auto;
    width: 200px;
    border: 1px solid transparent;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    border-radius: 5%;
    font-size: 12px;
}

.small-head{

    font-size: 16px;
    font-weight: bold;
}

.qr{
    border-radius: 5%;
    width: 100%;
    height: 200px;
}